body {
	width: 500px;
	min-height: 300px;
	overflow-x: hidden;
	padding-top: 5px;
	margin: 0px;
	color: #333;
}
a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.spinner {
	margin-top: 100px;
	text-align: center;
}

span.preview_url {
	color: #333 !important;
}

#results p {
	padding: 12px;
	margin: 0px;
	word-wrap: break-word;
}

#results p:nth-child(odd) {
	background-color: #F8F8F8;
}

header, footer {
	width: 100%;
}

header p, footer p {
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 8px;
	/*border-top: 5px #F8F8F8 solid;*/
}
